backend/node_modules
backend/.env
backend/README.md
backend/temp.json
frontend/node_modules
frontend/build
frontend/src/App.test.js
frontend/src/reportWebVitals.js
frontend/src/setupTests.js
frontend/src/Components/Test.js
